# Editor temporaries
.*.sw[o-p]
*~

# Mac
.DS_Store

# OCaml/Frama-C
.Makefile.plugin.generated
.depend
META.*
*.check_mli_exists
*.cmi
*.cmo
*.cmt
*.cmti
*.cmx
*.o
top/
.merlin
ptests_config

# Coq
*.vo
*.vos
*.vok
*.glob

# LaTeX
*.aux
*.bbl
*.blg
*.cb
*.cb2
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*-eps-converted-to.pdf
